async-timeout==5.0.1 ; python_version >= "3.11" and python_full_version < "3.11.3"
black==26.5.1 ; python_version >= "3.11" and python_version < "3.15"
bump2version==1.0.1 ; python_version >= "3.11" and python_version < "3.15"
cfgv==3.5.0 ; python_version >= "3.11" and python_version < "3.15"
click==8.5.0 ; python_version >= "3.11" and python_version < "3.15"
colorama==0.4.6 ; python_version >= "3.11" and python_version < "3.15" and sys_platform == "win32"
coverage==7.16.0 ; python_version >= "3.11" and python_version < "3.15"
distlib==0.4.3 ; python_version >= "3.11" and python_version < "3.15"
fakeredis==2.30.3 ; python_version >= "3.11" and python_version < "3.15"
filelock==3.32.4 ; python_version >= "3.11" and python_version < "3.15"
identify==2.6.19 ; python_version >= "3.11" and python_version < "3.15"
iniconfig==2.3.0 ; python_version >= "3.11" and python_version < "3.15"
jinja2==3.1.6 ; python_version >= "3.11" and python_version < "3.15"
linkify-it-py==2.2.0 ; python_version >= "3.11" and python_version < "3.15"
markdown-it-py==4.2.0 ; python_version >= "3.11" and python_version < "3.15"
markupsafe==3.0.3 ; python_version >= "3.11" and python_version < "3.15"
mdit-py-plugins==0.6.1 ; python_version >= "3.11" and python_version < "3.15"
mdurl==0.1.2 ; python_version >= "3.11" and python_version < "3.15"
memray==1.20.0 ; python_version >= "3.11" and python_version < "3.15"
mypy-extensions==1.1.0 ; python_version >= "3.11" and python_version < "3.15"
nodeenv==1.10.0 ; python_version >= "3.11" and python_version < "3.15"
packaging==26.3 ; python_version >= "3.11" and python_version < "3.15"
pathspec==1.1.1 ; python_version >= "3.11" and python_version < "3.15"
platformdirs==4.11.5 ; python_version >= "3.11" and python_version < "3.15"
pluggy==1.6.0 ; python_version >= "3.11" and python_version < "3.15"
pre-commit==4.6.2 ; python_version >= "3.11" and python_version < "3.15"
pygments==2.21.0 ; python_version >= "3.11" and python_version < "3.15"
pytest-cov==7.1.0 ; python_version >= "3.11" and python_version < "3.15"
pytest-env==1.2.0 ; python_version >= "3.11" and python_version < "3.15"
pytest==8.4.2 ; python_version >= "3.11" and python_version < "3.15"
python-discovery==1.6.0 ; python_version >= "3.11" and python_version < "3.15"
pytokens==0.4.1 ; python_version >= "3.11" and python_version < "3.15"
pyyaml==6.0.3 ; python_version >= "3.11" and python_version < "3.15"
redis==8.1.0 ; python_version >= "3.11" and python_version < "3.15"
rich==15.0.0 ; python_version >= "3.11" and python_version < "3.15"
ruff==0.11.13 ; python_version >= "3.11" and python_version < "3.15"
sortedcontainers==2.4.0 ; python_version >= "3.11" and python_version < "3.15"
textual==8.2.8 ; python_version >= "3.11" and python_version < "3.15"
typing-extensions==4.16.0 ; python_version >= "3.11" and python_version < "3.15"
virtualenv==21.7.7 ; python_version >= "3.11" and python_version < "3.15"
