async-timeout==5.0.1 ; python_version >= "3.11" and python_full_version < "3.11.3"
black==25.12.0 ; python_version >= "3.11" and python_version < "3.14"
bump2version==1.0.1 ; python_version >= "3.11" and python_version < "3.14"
cfgv==3.5.0 ; python_version >= "3.11" and python_version < "3.14"
click==8.2.1 ; python_version >= "3.11" and python_version < "3.14"
colorama==0.4.6 ; python_version >= "3.11" and python_version < "3.14" and (platform_system == "Windows" or sys_platform == "win32")
coverage==7.13.0 ; python_version >= "3.11" and python_version < "3.14"
distlib==0.4.0 ; python_version >= "3.11" and python_version < "3.14"
fakeredis==2.30.3 ; python_version >= "3.11" and python_version < "3.14"
filelock==3.20.1 ; python_version >= "3.11" and python_version < "3.14"
identify==2.6.15 ; python_version >= "3.11" and python_version < "3.14"
iniconfig==2.3.0 ; python_version >= "3.11" and python_version < "3.14"
jinja2==3.1.6 ; python_version >= "3.11" and python_version < "3.14"
linkify-it-py==2.0.3 ; python_version >= "3.11" and python_version < "3.14"
markdown-it-py==4.0.0 ; python_version >= "3.11" and python_version < "3.14"
markupsafe==3.0.3 ; python_version >= "3.11" and python_version < "3.14"
mdit-py-plugins==0.5.0 ; python_version >= "3.11" and python_version < "3.14"
mdurl==0.1.2 ; python_version >= "3.11" and python_version < "3.14"
memray==1.19.1 ; python_version >= "3.11" and python_version < "3.14"
mypy-extensions==1.1.0 ; python_version >= "3.11" and python_version < "3.14"
nodeenv==1.9.1 ; python_version >= "3.11" and python_version < "3.14"
packaging==25.0 ; python_version >= "3.11" and python_version < "3.14"
pathspec==0.12.1 ; python_version >= "3.11" and python_version < "3.14"
platformdirs==4.5.1 ; python_version >= "3.11" and python_version < "3.14"
pluggy==1.6.0 ; python_version >= "3.11" and python_version < "3.14"
pre-commit==4.5.0 ; python_version >= "3.11" and python_version < "3.14"
pygments==2.19.2 ; python_version >= "3.11" and python_version < "3.14"
pytest-cov==7.0.0 ; python_version >= "3.11" and python_version < "3.14"
pytest-env==1.2.0 ; python_version >= "3.11" and python_version < "3.14"
pytest==8.4.2 ; python_version >= "3.11" and python_version < "3.14"
pytokens==0.3.0 ; python_version >= "3.11" and python_version < "3.14"
pyyaml==6.0.3 ; python_version >= "3.11" and python_version < "3.14"
redis==7.1.0 ; python_version >= "3.11" and python_version < "3.14"
rich==14.2.0 ; python_version >= "3.11" and python_version < "3.14"
ruff==0.11.13 ; python_version >= "3.11" and python_version < "3.14"
sortedcontainers==2.4.0 ; python_version >= "3.11" and python_version < "3.14"
textual==4.0.0 ; python_version >= "3.11" and python_version < "3.14"
typing-extensions==4.15.0 ; python_version >= "3.11" and python_version < "3.14"
uc-micro-py==1.0.3 ; python_version >= "3.11" and python_version < "3.14"
virtualenv==20.35.4 ; python_version >= "3.11" and python_version < "3.14"
